.container {
  display: flex;
  /* justify-content: center; */
  background-color: #ffff;
  border-radius: 10px;
  /* align-items: center; */

  flex-direction: column;
  /* text-align: center; */
}
.container h1{
  font-size: 28px;
  text-align: center;
  margin: 20px;
}
.toggle {
  background-color: var(--theme-button);
  border: 1px solid grey;
  color: white;
  border-radius: 8px;
  height: 30px;
  width: 60px;
}
.li {
  list-style: none;

  color: black;
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(5, 5, 5);
  display: flex;
  align-items: self-end;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.ul {
}
.task-item {
  display: flex;
  color: black;
  justify-content: space-around;
}
.task-text {
  color: black;
}
.delete {
  background-color: #ff5757;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.compeleted {
  list-style: none;
  /* border: 2px solid rgb(5, 5, 5); */
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(222, 233, 222);
  box-shadow: 1px 1px #0f8b06;
  display: flex;
}
.incompeleted {
  list-style: none;
  justify-content: space-around;
  border: 2px solid rgb(204, 173, 173);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;

  /* border: 2px solid rgb(5, 5, 5); */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  align-items: self-end;
}
.header {
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 50px;
  display: flex;
}
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-color: var(--theme-border);
  padding: 5px;
  border-bottom-color: rgb(209, 190, 190);
}
.header a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px;
}
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #4f7d4f;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
  padding: 5px; 
  
}
.title{
  color: rgb(19, 18, 18);
  font-weight: bolder;
  font-size: 20px;
}
.description{
  font-size: 18px;

}
.danger{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #915e5e;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
  
}
.warning{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #7a4c07;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
}
.success{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #469e67;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
}
.primary{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #1a0f71;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
}
.trigger{
  background-color: #17123f;
  border: 1px solid grey;
  color: white;
  width: 60px;
  height: 35px;
  align-self: center;
  border-radius: 5px;
}
.hidden{
  display: none;
}


