.active{
  background-color: brown;
}
p{
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}
.box{


  align-items: center;
  background-color: antiquewhite;
  border-width: 1px solid grey;
  width: 30%;
  height: 30vh;
  justify-content: center;
  align-items: center;
border-radius: 20px;
box-shadow: inset;


}
button{
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  color: #ffffff;
}
button.add{
  background-color: aquamarine;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
 
}
button.sub{
  background-color: red;
  justify-content: center;
  border-radius: 10px;
  align-self: center;
  align-items: center;
}
button.reset{
  background-color: rgb(106, 87, 87);
  justify-content: center;
  border-radius: 10px;
  align-self: center;
  align-items: center;
}
*{
  margin: 0px;
  padding: 0px;
 
}
.box2{
  display: flex;
  justify-content: center;
 
}